
<ul class="cards">
  <% @cocktails.each do |cocktail| %>
    <li>
      <div class="card">
      <%= link_to cocktail_path(cocktail) do %>
        <%= cl_image_tag  cocktail.photo.attached? ? cocktail.photo.key : "bar_tpgut3", height: 200, width: 299, crop: :fill %>
         
        <%= "#{cocktail.name}" %>
      <% end %>
      
    </li>
  <% end %>
</ul>


