
<ul class="cards">
  <% @cocktails.each do |cocktail| %>
<div class="card">
    <%= cl_image_tag  cocktail.photo.attached? ? cocktail.photo.key : "bar_tpgut3", height: 200, width: 300, crop: :fill%>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>

</div>
  <% end %>
</ul>


