// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 15em;
  grid-gap: 16px;
  padding: 12px;
}

.card{
  width: 301px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}


