.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

nav{
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  font-family: 'Chelsea Market', cursive;
}

nav a
{
  color: black;
}

nav a:hover{
  text-decoration: none;
}

